.tests-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.table-mobile-view {
    display: none;
}

.questions-container {
    display: grid;
    font-size: 1.5rem;
    margin: 0 24px 24px 24px;
}

ul {
    padding-inline-start: 0px;
}

.question {
    margin: 15px;
}
.question-index {
    margin: 15px 0;
}

.checkbox > input {
    display: inline-block;
}

#timer {
    position: fixed;
    right: 0;
    text-align: right;
    margin: 25px;
    font-size: 2rem;
}

.test-name {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: space-between;
}

h1 {
    margin: 24px;
}

.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  padding: 15px;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.responsive-table {
  li {
    text-align: center;
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin: 32px;
  }
  .table-header {
    background-color: lightgreen;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 20%;
  }
  .col-3 {
    flex-basis: 15%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }

    .table-mobile-view {
        display: block;
    }

    li {
      display: block;
    }
    .col {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      padding: 10px 0;
    }

    .mobile-button {
        display: flex;
    }
  }
}